.Rproj.user
.Rhistory
.RData
.Ruserdata
1car.csv
2ppl.csv
55yrs.csv
Dissertation.bib
Dissertation_Final.Rproj
Dissertation_RM-blx.bib
Dissertation_RM.log
Dissertation_RM.pdf
Eng_map.RData
ZeroWasteNetworkStores.csv
correctedzws.csv
degree_educated.csv
finaldf.rds
joined_lsoa_scr_rc.rds
lsoa_pwc.rds
lsoas.rds
minstore.rds
occ.csv
rc_a.rds
rc_b.rds
rc_c.rds
rc_no_zws.rds
rc_results.rds
rc_with_zws.rds
rca_results.rds
rcb_results.rds
rcc_results.rds
retail_c.rds
tenure.csv
ywalktime20.rds
zws.rds
zws_joined_lsoa_scr.rds
zws_joined_lsoa_scr_rc.rds
zws_results.rds
zws_results_test.rds
zwsiso.rds
zwsmap.RData
rosm.cache
